.card-img-top:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.img-fluid {
  margin: auto;
  display: block;
}

img.card-img {
  width: 100%;
  /* height: 40px; */
}

.row > div[class*='col-md'] {
  display: flex;
}
